<div class="container">
  <br><br>
  <!-- <div class="row justify-content-center">
    <div class="col-6">
      <select class="form-control">
        <option value="SHOW_ALL">SHOW ALL</option>
        <option value="SHOW_WISHLIST">SHOW WISHLIST</option>
        <option value="NONE_WISHLIST">NONE WISHLIST</option>
      </select>
      <br>
    </div>
  </div> -->
  <div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <div class="name">
                  <h5 class="card-title">Name</h5>
                  <p><i class="fas fa-heart"></i></p>
              </div>
              <p class="card-text">Price</p>
              <div class="button">
                  <!-- <a href="#" class="btn btn-primary">Add to Wishlish</a> -->
                  <a href="#" class="btn btn-primary">Remove to Wishlish</a>
                  <a href="#" class="btn btn-danger">Remove</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>