<div class="container">
  <br>
  <div class="row justify-content-center" *ngIf="!isShowForm">
    <div class="col-6">
      <button class="btn btn-success" (click)="toggleForm()">ADD</button>
      <br>
      <br>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="isShowForm">
      <div class="col-6">
          <form [formGroup]="formAddProduct" (submit)="addProduct()">
            <div class="form-group">
              <label>Name:</label>
              <input class="form-control" formControlName="name" type="text" placeholder="Name">
            </div>
            <div class="form-group">
              <label>Price:</label>
              <input class="form-control" type="text" placeholder="Price" formControlName="price">
            </div>
            <div class="form-group my-btn">
              <button class="btn btn-primary" type="submit">ADD</button>
              <button class="btn btn-danger" type="button" (click)="toggleForm()">CANCEL</button>
            </div>
          </form>
          <br>
        </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <select class="form-control">
        <option value="SHOW_ALL">SHOW ALL</option>
        <option value="SHOW_WISHLIST">SHOW WISHLIST</option>
        <option value="NONE_WISHLIST">NONE WISHLIST</option>
      </select>
      <br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
        <div class="card mb-2"
        *ngFor="let product of arrayProduct">
            <div class="card-body">
              <div class="name">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p *ngIf="product.wishlist"><i class="fas fa-heart"></i></p>
              </div>
              <!-- pipe -->
              <p class="card-text">{{product.price | number }}</p>
              <div class="button">
                  <a *ngIf="!product.wishlist" href="#" class="btn btn-primary"
                  (click)="setWishlist(product._id)"
                  >Add to wishlist</a>
                  <a *ngIf="product.wishlist" href="#" class="btn btn-warning"
                  (click)="setWishlist(product._id)"
                  >Remove to wishlist</a>
                  <a href="#" class="btn btn-danger" 
                  (click)="removeProduct(product._id)"
                  >Remove</a>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>