<p [class]="myClass">
  {{ title }}
</p>
<input placeholder="Enter name" [readonly]=isValid value="KPT">

<input type="button" [disabled]=isValid value="Click">

<!-- this is comment -->

<p [style.color]="1==2 ? redColor : blueColor"
  [style.fontSize]="fontSize"
  [ngStyle]="myStyle">
  {{ title }}
</p>

<p [ngClass]="newClass">
  Hello
</p>

<input placeholder="Enter your name"
value="KPT" #myInput>
<button (click)="getValue(myInput)">Click me!</button>
<br>
<p>C1: {{ valueInput }}</p>
<p>C2: {{ myInput.value }}</p>

<input placeholder="Enter your name"
value="KPT" #myInput02
(keyup)="onKeyUp(myInput02.value)">
<p>{{ myInput02.value }}</p>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>